<% layout('layout') -%>
<% block('topbar', 
	'<div id="rightside">\
		<a id="user" href="/users/'+user.username+'">\
			<img id="userpic" src="'+user.image+'"/>\
			<span id="username">'+user.username+'</span>\
		</a>\
		<a href="/logout" id="logout">Logout</a>\
	</div>'
) -%>

<h3 class="centerme" id="gf">Global Feed</h3>
<div id="feed">
	<div id="postsOuter">
	<% for(var i=statuses.length-1; i>=0; i--) { %>
		<div class="post">
			<a class="colorize" href="/users/<%= statuses[i].username %>">
				<div class="smallpic">
					<img class="smallpic_img" src="<%= statuses[i].image %>"/>
				</div>	
				<div class="smallname"><%= statuses[i].username %></div>
			</a>
			<br>
			<div class="statusbody"><%= statuses[i].status %></div>
		</div>
	<% } %>
</div>
</div>
