<% layout('layout') -%>
<% block('topbar', 
	'<div id="rightside">\
		<a id="user" href="/users/'+user.username+'">\
			<img id="userpic" src="'+user.image+'"/>\
			<span id="username">'+user.username+'</span>\
		</a>\
		<a href="/logout" id="logout">Logout</a>\
	</div>'
) -%>

<h3>Welcome <%= user.username %> </h3>