<% layout('layout') -%>
<% block('topbar', 
	'<div id="rightside">\
		<a id="user" href="/users/'+user.username+'">\
			<img id="userpic" src="'+user.image+'"/>\
			<span id="username">'+user.username+'</span>\
		</a>\
		<a href="/logout" id="logout">Logout</a>\
	</div>'
) -%>

<h3>Welcome <%= user.username %> </h3>


<br>
<div id='feed'>
	<% for(var i=statuses.length-1; i>0; i--) { %>
		<div class ='comment'> <%= statuses[i].status %> </div>
	<% } %>
</div>
