<% layout('layout') -%>



<article class="centerme">
	<h1 class="no-margin-top">Login</h1>
	<input type="text" placeholder="username"/><br>
    <input type="password" placeholder="password"/><br>
</article>

<aside class="centerme">
    <h3>Not a member? Sign up!</h3>
    <input type="text" placeholder="username"/><br>
    <input type="password" placeholder="password"/><br>
    <input type="password" placeholder="confirm"/><br>
</aside>