<% layout('layout') -%>
<% block('topbar', '<a href="/login" id="login">Login</a>') -%>

<article class="centerme">
	<h1 class="no-margin-top">Login</h1>
	<% if (error2) { %> <div class="error"><%= error2 %></div><% } %>
	<form action="/login" method="POST">
		<input type="text" name="username" placeholder="username"/><br>
	    <input type="password" name="password" placeholder="password"/><br>
	    <input type="submit" value="Login"/>
    </form>
</article>

<aside class="centerme">
    <h3>Not a member? Sign up!</h3>
     <% if (error1) { %> <div class="error"><%= error1 %></div><% } %>
    <form method="post" action="/signup">
	    <input type="text" name="username" placeholder="username"/><br>
	    <input type="password" name="password" placeholder="password"/><br>
	    <input type="password" name="confirm" placeholder="confirm"/><br>
    	<button type="sumbit"> Sign Up! </button>
    </form>
</aside>

   

