<% layout('layout') -%>

<h1><%= user.username %></h1>
<img src="<%= user.image %>">

<aside class="centerme">
    <form method="POST" action="/updateBio/<%= user._id %>">
		<textarea style="bio" name="bio"><%= user.bio %></textarea>
		<input type="submit" value="Update">
	</form>
</aside>