/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html{
    overflow-x:auto;
    overflow-y:scroll;
}

.centerme {
    text-align:center;
}


#bio{
    margin-top: 20px;
    height: 100px;
    width: 300px;
    margin-top: 0px;
margin-bottom: 3px;
height: 36px;
max-height:36px;
min-height:36px;
max-width:94%;
min-width:94%;
width: 94%;
margin: 0 auto;
border-radius: 4px;
border: 1px solid rgb(155, 155, 155);
}

#image {
    max-width: 94%;
min-width: 94%;
width: 94%;
}

.no-margin-top {
    margin-top: 0px;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #33342d;
    color: #D2D8BA;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    /*font: 16px/26px Helvetica, Helvetica Neue, Arial;*/
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
    border-bottom: 20px solid #8cc84b;
    border-bottom: 4px solid #8cc84b;
    border:0;
}

.timestamp {
    color: #690;
    font-size:12px;
    position:relative;
    color: #690;
font-size: 12px;
position: relative;
right: 0px;
z-index: 1000;
display: inline;
top: 0px;
right: 0px;
float: right;
text-align: right;
margin-right: 13px;
}

.footer-container,
.main aside {
    /*border-top: 20px solid #e44d26;
    border-top: 20px solid #8cc84b;*/
    border-top: 4px solid #8cc84b;
    border: 4px solid #4C5246;
}

.footer-container {
    border:0;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
    background: #46483e;
}

.title {
    color: white;
}

#rightside {
    float:right;
    padding-top: 9px;
}

#userpic {
    float:left;
    width: 31px;
    height: 31px;

}

#theusername {
    color: #D2D8BA;
}
#profPic {
    width: 120px;
height: 120px;
margin-bottom: 14px;
}

.sub {
    border:0px;
    background-image: linear-gradient(to bottom, #FDFDFD, #6F6F6F);
border-radius: 3px;
padding: 6px;
vertical-align: middle;
margin-left: -1%;
margin-top: 5px;
}

#newstatus {
    width: 90%;
    width: 86%;
float: left;
margin-bottom: 7px;
margin-left: 4px;
float:left;
border-radius: 4px;
border: 1px solid rgb(155, 155, 155);
width: 75%;
max-width: 75%;
min-width: 75%;
height: 36px;
max-height: 36px;
min-height: 36px;
}

.smallpic_img {
    width: 48px;
height: 48px;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #8cc84b;
    background:none;
    color: #690;
}

nav a:hover,
nav a:visited {
    color: white;
    color: #690;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

h1 {
    margin-top: 4px;
margin-bottom: 4px;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
    text-align: center;
    margin-bottom: 20px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 2px 10px #2B2B2B;
           -moz-box-shadow: 0 2px 10px #2B2B2B;
                box-shadow: 0 2px 10px #2B2B2B;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: right;
        width: 57%;
    }

    .main aside {
        float: left;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.smallpic, .smallname, .statusbody {
    display:inline-block;
    vertical-align: top;
    float: left;
}

#ryan {
    -webkit-box-shadow: 0 2px 10px #2B2B2B;
    -moz-box-shadow: 0 2px 10px #2B2B2B;
    box-shadow: 0 2px 10px #2B2B2B;
    opacity: .2;
    margin-top: -30px;
}

.statusbody {
    color: white;
font-size: 13px;
max-width: 75%;
margin-bottom: 13px;
text-align: left;
}

.smallpic {
    margin-right: 10px;
}

.colorize, .colorize:visited {
color: #D2D8BA;
cursor: pointer;
text-decoration:none;
}

.smallname:hover {
    text-decoration:underline;
}

.colorize:hover {
    text-decoration:underline;
}

#postsOuter {
    width:100%;
    max-width:500px;
    margin:0 auto;
    border-radius: 7px;
    border: 1px solid #2C3C1B;
    -webkit-box-shadow: 0 2px 10px #2B2B2B;
    -moz-box-shadow: 0 2px 10px #2B2B2B;
    box-shadow: 0 2px 10px #2B2B2B;
    background: #8cc84b;
    padding: 15px;
    padding: 10px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom: 0;
}

.smallname {
    line-height: 16px;
}

#gf {
    margin-top: 0px;
    margin-bottom: 10px;
}

.post {
    display:inline-block;
    background: #46483e;
    min-height:68px;
    padding-left:20px;
    padding-right:20px;
    border-bottom: 1px solid rgba(34, 53, 32, 0.8);
    padding-top: 13px;
    min-height: 64px;
    border-bottom: 1px solid rgba(42, 48, 41, 0.8);
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.smallpic {
    margin-left: 13px;
}

abbr[title] {
border-bottom: none;
}

#noposts {
    text-align: center;
font-size: 13px;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

h1,h2,h3,h4,h5,h6 {
    color:white;
}

#logo {
    height: 30px;
    width: 154px;
    padding-top: 9px;
    padding-bottom: 9px;

}

#login, #login:visited , #logout, #logout:visited {
    float:right;
    cursor:pointer;
    float: right;
    cursor: pointer;
    color: #690;
    font-size: 20px;
    vertical-align: middle;
    text-decoration:none;

}

#logout:hover {
    text-decoration: underline;
}

#user, #user:visited {
    text-decoration:none;
    color: #D2D8BA;
    cursor:pointer;
}

#user:hover {
    text-decoration: underline;
}

#login, #login:visited {
    padding-top:10px;
}

#logout,#logout:visited {
        margin-top: -24px;
    margin-left: 20px;
}

#username {
    line-height: 14px;
font-size: 14px;
margin-left: 5px;

}

#login:hover {
    text-decoration:underline;
}

input[type=text], input[type=password] {
    border: 1px solid rgb(136, 136, 136);
    margin-bottom: 10px;
    height: 30px;
    border-radius: 4px;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}